html
    head
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        style
            include ./form.css
    body
        .maximum
            .frame 
                .title
                    .variant(title="Вариант") 6
                    .big-one КОМАНДА БЕЗРУКОВА
                    .small-one Безруков Колегов Полегайко Бобык
                .left-big
                    .left-top#p
                        .menu#bp
                            .menu-button#bp0(selected="selected", -data-pages="p i10") H
                            .menu-button#bp1(-data-pages="p i10") 1
                            .menu-button#bp2(-data-pages="p i10") 2
                            .menu-button#bp3(-data-pages="p i10") 3
                            .menu-button#bp4(-data-pages="p i10") 4
                            .menu-button#bp5(-data-pages="p i10") ?
                            .menu-button#bp6(-data-pages="p i10") ?
                            .menu-button#bp7(-data-pages="p i10") ?


                        //real function
                        input#rfunc(type="hidden" value="Math.abs(x-y)")

                        input#rm1(type="hidden" value="Math.sin(Math.PI*y)*Math.sin(Math.PI*y)")
                        input#rm2(type="hidden" value="x * (1 - x )")
                        input#rm3(type="hidden" value="Math.abs(Math.exp(Math.sin(Math.PI*y))- 1 )")
                        input#rm4(type="hidden" value="x * (1 - x) * Math.exp(x)")

                        input#ra(type="hidden" value="0")
                        input#rb(type="hidden" value="0")
                        input#rc(type="hidden" value="1")
                        input#rd(type="hidden" value="2")
                        input#rtype(type="hidden", value="real")

                        //test function
                        input#efunc(type="hidden" value="4")

                        input#em1(type="hidden" value="1 - x*x - y*y")
                        input#em2(type="hidden" value="1 - x*x - y*y")
                        input#em3(type="hidden" value="1 - x*x - y*y")
                        input#em4(type="hidden" value="1 - x*x - y*y")

                        input#ea(type="hidden" value="-1")
                        input#eb(type="hidden" value="-1")
                        input#ec(type="hidden" value="1")
                        input#ed(type="hidden" value="1")

                        input#etype(type="hidden", value="test")
                        input#ereal(type="hidden", value="1 - x*x - y*y")

                        .container#p0
                            h1 Параметры
                            .input-title N x M
                            input#an.half-l(type="text", value="8")
                            input#am.half-r(type="text", value="8")
                            .input-title Количество итераций
                            input#amax(type="text", value="1000")
                            .input-title Минимальная погрешность
                            input#aeps(type="text", value="0.001")
                            
                            .button#z1 Далее
                        
                        .container#p1.none
                            h1 Метод верхней релаксации

                            .input-title Параметр W
                            input#w(type="text", value="0.0")

                            p Если параметр установлен на 0, то используется оптимальное значение

                            .button.test#z20 Тест
                            .button#z2 Запуск
                        
                        .container#p2.none
                            h1 Метод простой итерации

                            .input-title Параметр T
                            input#t(type="text", value="0.0")

                            p Если параметр установлен на 0, то используется оптимальное значение                     

                            .test.button#z30 Тест
                            .button#z3 Запуск

                        .container#p3.none
                            h1 Метод сопряженных градиентов

                            p Дополнительных параметров не требуется

                            .test.button#z40 Тест
                            .button#z4 Запуск
                            
                        .container#p4.none
                            h1 Нестандартная область

                            p Размер сетки вычисляются из параметров N и M по формулам 6 + 3*N и 6 + 3*M

                            .button#z5 Запуск

                        .container#p5.none
                            h1 Основная задача

                            p Формулы

                        .container#p6.none
                            h1 Тестовая задача

                            p Формулы


                        .container#p7.none
                            h1 Область

                            p Картинка 

                    .left-bottom#i
                        .container#i20
                            h1 Результаты
                            #res

                .right-big#r
                    .menu#br.m-right
                        .menu-button#br0(selected="selected",-data-pages="r") G
                        .menu-button#br1(-data-pages="r") R
                    .container#r0
                        .chart#chart
                    .container#r1.none
                        .data
                            .data-scroller#data

        script
            include ./form.js