html
    head
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        style
            include ./form_one.css

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" ></script>

        title Лабораторная работа
    body
        .maximum
            .frame 
                .title
                    .variant(title="Вариант") 6
                    .big-one КОМАНДА БЕЗРУКОВА
                    .small-one Безруков Колегов Полегайко Бобык
                .left-big
                    .left-top#p
                        .menu#bp
                            .menu-button#bp0(selected="selected", -data-pages="p i10") H
                            .menu-button#bp1(-data-pages="p i10") 1
                            .menu-button#bp2(-data-pages="p i10") 2
                            .menu-button#bp3(-data-pages="p i10") 3
                            .menu-button#bp4(-data-pages="p i10") 4
                            .menu-button#bp5(-data-pages="p i10") ?
                            .menu-button#bp6(-data-pages="p i10") ?
                            .menu-button#bp7(-data-pages="p i10") ?


                        //real function
                        input#rfunc(type="hidden" value="-Math.sin(Math.PI*x*y)*Math.sin(Math.PI*x*y)")

                        input#rm1(type="hidden" value="Math.sin(Math.PI*y)")
                        input#rm2(type="hidden" value="x - x*x")
                        input#rm3(type="hidden" value="Math.sin(Math.PI*y)")
                        input#rm4(type="hidden" value="x - x*x")

                        input#ra(type="hidden" value="0")
                        input#rb(type="hidden" value="0")
                        input#rc(type="hidden" value="1")
                        input#rd(type="hidden" value="1")
                        input#rtype(type="hidden", value="real")

                        //test function
                        input#efunc(type="hidden" value=`
                            -((Math.exp(Math.pow(Math.sin(Math.PI*x*y),2)) *
                            ((Math.PI*y)*(Math.PI*y)) * 
                            ((Math.pow(Math.sin(2 * Math.PI * x * y),2)) + 2 * Math.cos(2 * Math.PI * x *y)))
                            +
                            (Math.exp(Math.pow(Math.sin(Math.PI*y*x),2)) *
                            ((Math.PI*x)*(Math.PI*x)) * 
                            ((Math.pow(Math.sin(2 * Math.PI * y * x),2)) + 2 * Math.cos(2 * Math.PI * y *x))))                      
                        `)

                        input#em1(type="hidden" value="Math.exp(Math.pow(Math.sin(Math.PI*x*y),2))")
                        input#em2(type="hidden" value="Math.exp(Math.pow(Math.sin(Math.PI*x*y),2))")
                        input#em3(type="hidden" value="Math.exp(Math.pow(Math.sin(Math.PI*x*y),2))")
                        input#em4(type="hidden" value="Math.exp(Math.pow(Math.sin(Math.PI*x*y),2))")

                        input#ea(type="hidden" value="0")
                        input#eb(type="hidden" value="0")
                        input#ec(type="hidden" value="1")
                        input#ed(type="hidden" value="1")

                        input#etype(type="hidden", value="test")
                        input#ereal(type="hidden", value="Math.exp(Math.pow(Math.sin(Math.PI*x*y),2))")

                        .container#p0
                            h1 Параметры
                            .input-title N x M
                            input#an.half-l(type="text", value="8")
                            input#am.half-r(type="text", value="8")
                            .input-title Количество итераций
                            input#amax(type="text", value="1000")
                            .input-title Минимальная погрешность
                            input#aeps(type="text", value="0.001")
                            

                            .fiil-mode-switcher 
                                .left-s-button#fillLeft <
                                .fiil-mode-text#fiilMode нулевое
                                .right-s-button#fillRight >

                            .button#z1 Далее
                        
                        .container#p1.none
                            h1 Метод верхней релаксации

                            .input-title Параметр W
                            input#w(type="text", value="0.0")

                            p Если параметр установлен на 0, то используется оптимальное значение

                            .button.test#z20 Тест
                            .button#z2 Запуск
                        
                        .container#p2.none
                            h1 Метод простой итерации

                            .input-title Параметр T
                            input#t(type="text", value="0.0")

                            p Если параметр установлен на 0, то используется оптимальное значение                     

                            .test.button#z30 Тест
                            .button#z3 Запуск

                        .container#p3.none
                            h1 Метод сопряженных градиентов

                            p Дополнительных параметров не требуется

                            .test.button#z40 Тест
                            .button#z4 Запуск
                            
                        .container#p4.none
                            h1 Нестандартная область

                            p Размер сетки вычисляются из параметров N и M по формулам 6 + 3*N и 6 + 3*M

                            .button#z5 Запуск

                        .container#p5.none
                            h1 Основная задача

                            p \( \Delta u(x,y) = -f(x,y)   \)

                            p \( x  = (a,b), y = (c,d) \)

                            p \(a = 0, b = 1, c = 0, d = 2 \)
                            p \( u(a,y) =  \sin^2(\pi y) \)
                                |   \(u(b,y) = |e^{\sin(\pi y)}-1 |\)
                                |   \(u(x,c) = x(1-x)\)
                                |   \(u(x,d) = x(1-x) e^{x} \)

                            p \( f(x,y) =  |x-y| \)

                        .container#p6.none
                            h1 Тестовая задача

                            p \( \Delta u(x,y) = -f(x,y)   \)

                            p \( x  = (a,b), y = (c,d) \)

                            p \(a = 0, b = 1, c = 0, d = 2 \)

                            p \( u^{*}(x,y) = e^{\sin^2(\pi xy)} \)


                        .container#p7.none
                            h1 Область

                            p 
                                img.oblast(src="picture.png", alt="Картинка")

                    .left-bottom#i
                        .container#i20
                            h1 Результаты
                            #res

                .right-big#r
                    .menu#br.m-right
                        .menu-button#br0(selected="selected",-data-pages="r") G
                        .menu-button#br1(-data-pages="r") R1
                        .menu-button#br2(-data-pages="r") R2
                        .menu-button#br3(-data-pages="r") R3
                    .container#r0
                        .chart#chart
                    .container#r1.none
                        .data
                            .data-scroller#data
                    .container#r2.none
                        .data
                            .data-scroller#super
                    .container#r3.none
                        .data
                            .data-scroller#delta

        script
            include ./form_one.js